[Unit]
Description=Run met_moai server
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Environment=PYTHON_EGG_CACHE=/var/lib/met_moai/egg
ExecStart=/usr/local/bin/paster serve /usr/local/etc/met_moai/settings.ini
Restart=always
Type=simple
User=oaipmh
WorkingDirectory=/var/log/met_moai

[Install]
WantedBy=multi-user.target
